.like-button {
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.like-button.liked {
    color: red;
}

@media (max-width: 768px) {
    .like-button {
        font-size: 15px;
        border: none;
        background-color: transparent;
    }
}